body {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F4E7E2;
  }
  h1 {
    color: #B6465F;
    text-align: center;
    font-size: 70px;
    margin: 0;
  }
  h2 {
    color: #D08576;
    text-align: center;
    font-size: 30px;
    margin: 0;
  }
  p {
    color: #2C0703;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 17px;
  }
  canvas {
    width: 1200px;
    margin: auto;
    border: 5px solid black;
    display: block;

  }